@import 'src/modules/utilities/_vars';
@import 'src/assets/fonts/_typography';

:host{
    display: block;    
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary_clr;
    color: $background_clr;
    padding-top: 15px;

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        div {
            display: flex;
            gap: 10px;
            pointer-events: none;
        }
    }


    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;        

        .legalNotice {
            font-size: $fs-sm;
            font-weight: $fw-300;
            cursor: pointer;
            a {
                text-decoration: none;
                color: $background_clr;
            }
        }

        
    }
}

@media (max-width: 630px) { 
    .container {
        padding-top: 50px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;

        .left-side, .right-side {
            align-items: center;
            width: 100%;
        }       
    }
}