<div class="container" id="aboutMe">
  <h1 data-text="About me">About me</h1>
  <div class="wrapper">
    <div class="text-container">
      <p>
        Hello, I am Phil. Clean code lover, tech enthusiast and dedicated
        handball player. During my training as a frontend developer, I enjoyed
        working on various projects in a team as well as independently. In doing
        so, I gained a lot of experience and was able to put my structured and
        analytical skills to good use. In projects, I attach great importance to
        user-friendly interfaces and a good, modern design. As we all know, you
        eat with your eyes first. I look forward to working on many exciting
        projects in the future and to developing myself further. Next step:
        Backend development.
      </p>
      <button class="btn btn-black" (click)="moveTo('contact')">
        Let's talk
      </button>
    </div>
    <div class="img-container">
      <div class="img-wrapper">
        <img src="./../../assets/img/B22219_0017.jpg" alt="photo of me" />

        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
