<div class="container">
  <h1>About me</h1>
  <div class="wrapper">
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda
        amet commodi beatae aspernatur excepturi, iure cumque. Quam dolor odio
        recusandae doloremque commodi accusantium quaerat minus, nesciunt
        necessitatibus ab libero.
      </p>
      <button class="btn btn-black">Let's talk</button>
    </div>
    <div class="img-container">
      <div class="img-wrapper">
        <img src="./../../assets/img/photo.jpg" alt="photo of me" />
      </div>
    </div>
  </div>
</div>
