<div class="container" id="aboutMe">
  <h1 data-text="About me" translate>About me</h1>
  <div class="wrapper">
    <div class="text-container">
      <p translate>
        Hi, I'm Phil. Clean code lover, technology enthusiast and dedicated
        handball player. As a front-end developer, it is not only important to
        me that the logic works flawlessly, but also that the user interface
        looks appealing and provides a good user experience.<br />
        <br />
        I will find a suitable solution for your problems and look forward to
        many exciting projects in the future. <br />
        <br />
        Feel free to write to me!
      </p>
      <button class="btn btn-black" (click)="moveTo('contact')" translate>
        Let's talk
      </button>
    </div>
    <div class="img-container">
      <div class="img-wrapper">
        <img src="assets/img/B22219_0017.jpg" alt="photo of me" />

        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
