@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/assets/fonts/_typography';

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 110px 0;  

    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: justify;
                margin-bottom: 50px;
            }
        }
    
    }
    .img-container {
        display: flex;
        justify-content: flex-end;
        transition: all 225ms ease-in-out;

        .img-wrapper {
            $img-size: clamp(300px, 30vw, 500px);   
            $aspect-ratio: 1;                             
            position: relative; 
            
            .frame {
                $offset: 10px;
                position: absolute;
                top: $offset;
                left: $offset;
                width: $img-size;
                aspect-ratio: $aspect-ratio;
                border: $frame;
                opacity: 0;
                
                &:hover {
                    opacity: 1;
                    transition: opacity 225ms ease-in-out;
                }
            }
            
            img {
                width: $img-size;
                aspect-ratio: $aspect-ratio;
                object-fit: cover;     
                box-shadow: $boxshadow;    
            }
        }
    }
}

@media (max-width:875px) {
    .container {

        .wrapper {
            flex-direction: column;

            .text-container {
                button {
                    display: none;
                }
            }
            
            .img-container {
                .img-wrapper {
                    $img-size: clamp(225px, 100%, 875px);   
                    $aspect-ratio: 1.7777777777777777777777777777778; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .frame {                   
                        width: $img-size;
                        aspect-ratio: $aspect-ratio;                    
                    }
                    
                    img {
                        width: $img-size;
                        aspect-ratio: $aspect-ratio;
                        margin-bottom: 50px; 
                        object-fit: cover;
                        object-position: top;
                        
                    }
                }
            }
        }
    }  
}

@media (max-width:450px) {
    .img-container {
        .img-wrapper {              
            $aspect-ratio: 0.8 !important; 
           
            .frame {          
                aspect-ratio: $aspect-ratio;                    
            }

            img {
                aspect-ratio: $aspect-ratio;               
            }
        }
    }
}