@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/modules/typo/_typography';

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 110px 0;  

    
    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10%;

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: justify;
                margin-bottom: 50px;
            }
        }
    
    }
    .img-container {
        display: flex;
        justify-content: flex-end;

        .img-wrapper {
            $img-size: 50vh;                                
            position: relative;
            
            &:hover {
                &:after {
                content:  '';
                position: absolute;
                top: 15px;
                left: 15px;
                height: $img-size;
                width: $img-size;
                border: $frame;
                box-sizing: border-box;
                }                    
            }
            
            
            img {
                width: $img-size;
                height: $img-size;
                object-fit: cover;
                
            }
        }
    }
}
