<div class="container">
  <div class="wrapper">
    <p #headline1>Frontend</p>
    <p>Developer</p>
    <div class="subtitle" [ngStyle]="{ 'width.px': headline1.offsetWidth }">
      <div class="horizontal-line"></div>
      <span class="my-name">Phil Schmucker</span>
    </div>
  </div>
  <div class="socials">
    <div class="email">p.schmuck.er@web.de</div>
    <div class="call2action">
      <div class="img-container">
        <img src="./../../assets/img/arrow.svg" alt="arrow" />
      </div>
      <div class="text-container">
        <div>
          <span>S</span>
          <span>c</span>
          <span>r</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
        </div>
        <div>
          <span>D</span>
          <span>o</span>
          <span>w</span>
          <span>n</span>
        </div>
      </div>
    </div>
  </div>
</div>
