<div class="container">
  <div class="wrapper">
    <p [@slideInRight] class="content">Frontend</p>
    <p [@slideInLeft]>Developer</p>
    <div [@popUp] class="subtitle">
      <div class="horizontal-line"></div>
      <span class="my-name">Phil Schmucker</span>
    </div>
  </div>
  <div class="socials">
    <div [@slideInBottom] class="email">
      <a href="#contact">p.schmuck.er@web.de</a>
    </div>
    <a href="#aboutMe" class="call2action">
      <div class="img-container">
        <img src="./../../assets/img/arrow.svg" alt="arrow" />
      </div>
      <div [@fadeIn] class="text-container">
        <div>
          <span>S</span>
          <span>c</span>
          <span>r</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
        </div>
        <div>
          <span>D</span>
          <span>o</span>
          <span>w</span>
          <span>n</span>
        </div>
      </div>
    </a>
  </div>
</div>
