@import "src/modules/utilities/_vars";
@import "src/modules/utilities/_button";
@import "src/assets/fonts/_typography";

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .headline {
      font-family: $secondary_font, sans-serif;
      font-weight: $fw-black;
      font-size: $fs-headline;
      text-shadow: 5px 5px $secondary_clr;
    }

    .subtitle {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 1.5vmin;

      .horizontal-line {
        border-top: 3px solid $primary_clr;
        width: 100%;
      }

      .my-name {
        display: inline-block;
        font-size: $fs-headline3;
        font-weight: $fw-600;
        color: $secondary_clr;
        white-space: nowrap;
      }
    }
    .mobile-btn {
      display: none;
      padding: 8px 12px;
      font-family: $primary_font;
      font-size: $fs-regular;
    }
  }
  .socials {
    position: absolute;
    bottom: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .email {
      position: relative;
      left: 0;

      transform: rotate(-90deg) translateX(-20px);
      transform-origin: top left;
    }

    .call2action {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .img-container {
        height: 160px;
        overflow: hidden;
        img {
          transform: translateY(-100px);
          animation: arrowDown 1.35s ease-in-out 2s infinite forwards;
        }
      }

      .text-container {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@keyframes arrowDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(250px);
  }
}

a {
  text-decoration: none;
  color: $primary_clr;
  font-family: $primary_font;
}

@media (max-width: 875px) {
  $heightNav: 78.18px;
  .container {
    height: calc(100vh - $heightNav);
    top: $heightNav;
    gap: 5vh;

    .mobile-btn {
      $width: clamp(100px, 55vw, 280px);
      display: block !important;
      width: $width;
      margin-top: 5vh;
      z-index: 3;

      &:hover {
        width: calc($width + 10%);
      }
    }

    .headline {
      $offset: calc($fs-headline * 0.09);
      text-shadow: $offset $offset $secondary_clr !important;
    }

    .socials {
      position: static !important;
    }
  }
}

@media (max-width: 555px) {
  .container {
    .mobile-btn {
      $width: clamp(100px, 42vw, 280px);
      display: block !important;
      width: $width;
      margin-top: 5vh;
      z-index: 3;
      font-size: $fs-s !important;

      &:hover {
        width: calc($width + 10%);
      }
    }

    .headline {
      $offset: calc($fs-headline * 0.09);
      text-shadow: $offset $offset $secondary_clr !important;
      font-size: $fs-headline-mobile !important;
    }

    .my-name {
      font-size: $fs-headline4 !important;
    }

    .socials {
      position: static !important;
    }
  }
}
