<form class="contactForm" [formGroup]="contactForm" (submit)="sendMail()">
  <div class="inputBox">
    <input type="text" formControlName="name" />
    <span>Your name</span>
    <ng-container
      *ngIf="
        contactForm.controls['name'].dirty ||
        contactForm.controls['name'].touched
      "
    >
      <div *ngIf="contactForm.controls['name'].errors?.['required']">
        <p class="error">Please enter your name</p>
      </div>
    </ng-container>
  </div>
  <div class="inputBox">
    <input
      #email
      type="text"
      formControlName="email"
      [class.invalid-filled-input]="
        email.value.length > 0 && !contactForm.controls['email'].valid
      "
    />
    <span>Your email</span>
    <ng-container
      *ngIf="
        contactForm.controls['email'].dirty ||
        contactForm.controls['email'].touched
      "
    >
      <ng-container>
        <p class="error" *ngIf="contactForm.controls['email'].errors">
          Please enter your e-mail address
        </p>
      </ng-container>
    </ng-container>
  </div>
  <div class="inputBox">
    <textarea type="text" formControlName="message"></textarea>
    <span>Your message</span>
    <ng-container
      *ngIf="
        contactForm.controls['message'].dirty ||
        contactForm.controls['message'].touched
      "
    >
      <p
        class="error"
        *ngIf="contactForm.controls['message'].errors?.['required']"
      >
        Please enter a message for me
      </p>
    </ng-container>
  </div>

  <button
    [disabled]="
      !(contactForm.valid && (contactForm.dirty || contactForm.touched))
    "
    class="btn btn-white"
    type="submit"
  >
    Senden
  </button>
</form>
