<form
  class="contactForm"
  [formGroup]="contactForm"
  (submit)="sendMail()"
  #myForm
>
  <div class="inputBox">
    <input type="text" formControlName="name" name="name" #formName />
    <span>{{ "CONTACT_FORM_NAME_LABEL" | translate }}</span>
    <ng-container
      *ngIf="
        contactForm.controls['name'].dirty ||
        contactForm.controls['name'].touched
      "
    >
      <div *ngIf="contactForm.controls['name'].errors?.['required']">
        <p class="error">{{ "CONTACT_FORM_NAME_PLACEHOLDER" | translate }}</p>
      </div>
    </ng-container>
  </div>
  <div class="inputBox">
    <input
      #formEmail
      type="text"
      name="email"
      formControlName="email"
      [class.invalid-filled-input]="
        formEmail.value.length > 0 && !contactForm.controls['email'].valid
      "
    />
    <span>{{ "CONTACT_FORM_EMAIL_LABEL" | translate }}</span>
    <ng-container
      *ngIf="
        contactForm.controls['email'].dirty ||
        contactForm.controls['email'].touched
      "
    >
      <ng-container>
        <p class="error" *ngIf="contactForm.controls['email'].errors">
          {{ "CONTACT_FORM_EMAIL_PLACEHOLDER" | translate }}
        </p>
      </ng-container>
    </ng-container>
  </div>
  <div class="inputBox">
    <textarea
      type="text"
      formControlName="message"
      name="message"
      #formMessage
    ></textarea>
    <span>{{ "CONTACT_FORM_MESSAGE_LABEL" | translate }}</span>
    <ng-container
      *ngIf="
        contactForm.controls['message'].dirty ||
        contactForm.controls['message'].touched
      "
    >
      <p
        class="error"
        *ngIf="contactForm.controls['message'].errors?.['required']"
      >
        {{ "CONTACT_FORM_MESSAGE_PLACEHOLDER" | translate }}
      </p>
    </ng-container>
  </div>

  <button
    [disabled]="
      !(contactForm.valid && (contactForm.dirty || contactForm.touched))
    "
    class="btn btn-white"
    type="submit"
    #formBtn
  >
    {{ "SEND_BUTTON" | translate }}
  </button>
</form>
