@import 'src/modules/typo/_typography.scss';
@import 'src/modules/utilities/_vars.scss';

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: $background_clr;

    img {
        height: 50px;
        width: auto;
        cursor: pointer;
    }
    
    mat-icon {
        height: 50px;
        width: 50px;
        font-size: 36px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
}