@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/modules/typo/_typography';

.container {
    position: relative;
    width: 100%;
    padding: $padding-side;
       
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $primary_clr;
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);

    }

    .header {
        padding-top: 110px;
    }
}

.contact-container{
    position: relative;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}