@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/assets/fonts/_typography';

.container {
    position: relative;
    width: 100%;
    padding: $padding-side;
    padding-top: 110px;
       
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        bottom: -1px;
        background-color: $primary_clr;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    }

    .header {
        padding-top: 10vh;
    }
}

.contact-container{
position: relative;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 25px;

   h2 {
    font-size: $fs-headline3;
    color: $secondary_clr;
   }

   .arrow-up {
    position: absolute;
    bottom: 70px;
    right: 0;

        .arrow {
            $border-width: 5px;
            height: 100px;
            width: 60px;   
            display: inline-block;
            position: relative;
            cursor: pointer;
        
            &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            border-style: solid;
            border-color: $background_clr;
            border-width: $border-width $border-width 0 0;
            position: absolute;
            transform-origin: 50% 50%;
            transform: rotate(-45deg); 
            margin: -10px 0 0 -15px;
            transition: all 150ms ease-in-out;
            }
            
            &:hover::before {
            transform: translateY(-40px) rotate(-45deg);
            transition: all 150ms ease-in-out;
            }

            &::after {
                content: '';
                display: block;
                top: 50%;
                left: 50%;
                border-style: solid;
                border-color: $background_clr;
                position: absolute;
                transform-origin: 50% 50%;
                width: 0;
                height: 60px;
                border-width: 0 $border-width 0 0;
                transform: translate(0, -14px);
                transition: all 150ms ease-in-out;
            }

            &:hover::after {
                height: 100px;
                transform: translateY(-54px);
                transition: all 150ms ease-in-out;
            }          
        }
    }
}

@media (max-width: 630px) {
    .arrow-up {
        display: none;
    }

    .contact-container {
        align-items: none;

        h2, span {
            text-align: center;
        }
    }

}