<div class="container" id="mySkills">
  <div class="wrapper">
    <h1>{{ "SKILLS_TITLE" | translate }}</h1>
    <div
      class="bento-grid"
      (click)="onGridClick($event)"
      (mouseenter)="stopRotate()"
      (mouseleave)="startRotate()"
    >
      <div
        *ngFor="let skill of skills"
        [id]="skill.id"
        class="bento-item"
        [ngStyle]="getItemStyle(skill.id)"
      >
        <div class="item-header">
          <img
            class="icon"
            [src]="'assets/img/skills/' + skill.icon"
            [alt]="skill.name"
          />
          <h3 class="item-title">{{ skill.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
