<div class="container" id="portfolio">
  <div class="header">
    <div class="header-wrapper">
      <h1 data-text="Portfolio">Portfolio</h1>
      <span
        >This page is a sample of my work - please feel free to try out.</span
      >
    </div>
  </div>
  <div
    class="project"
    *ngFor="let project of projects; let i = index; let even = even"
    (mouseenter)="changeMouseState('hover', i)"
    (mouseleave)="changeMouseState('rest', i)"
    [style.flexDirection]="even ? 'row' : 'row-reverse'"
  >
    <div class="number" [style]="even ? 'right: 0' : 'left: 0'">
      0{{ i + 1 }} / 0{{ projects.length }}
    </div>
    <a href="{{ project.link }}" target="_blank" class="anchor">
      <div class="img-wrapper">
        <img
          [@grayscale]="project.state"
          src="./../../assets/img/{{ project.img }}"
          alt="project"
        />
        <div class="frameWrapper" [style]="even ? 'left: 0' : 'right: 0'">
          <div
            [@frame]="project.state"
            class="frame"
            [style]="even ? 'left: 10px' : 'right: 10px'"
          ></div>
          <div class="circle-black">
            <img
              [@circle]="project.state"
              src="./../../assets/img/circle-with-arrow.svg"
              alt="cirle with arrow"
              [style]="even ? 'right: -45px' : 'left: -45px'"
            />
          </div>
        </div>
      </div>
    </a>
    <div
      *ngIf="even"
      [@text-left]="project.state"
      class="text-container"
      [style.alignItems]="even ? 'flex-start' : 'flex-end'"
    >
      <h2>{{ project.name }}</h2>
      <div class="techs">
        <span *ngFor="let project_tech of project['techs']"
          >{{ project_tech }}
        </span>
      </div>
      <span class="descripition">
        {{ project.text }}
      </span>
      <div class="btn-container">
        <a href="{{ project.github }}" target="_blank" class="btn btn-black">
          Github
        </a>
      </div>
    </div>
    <div
      *ngIf="!even"
      [@text-right]="project.state"
      class="text-container"
      [style.alignItems]="even ? 'flex-start' : 'flex-end'"
    >
      <h2>{{ project.name }}</h2>
      <div class="techs">
        <span *ngFor="let project_tech of project['techs']"
          >{{ project_tech }}
        </span>
      </div>
      <span class="descripition">
        {{ project.text }}
      </span>
      <div class="btn-container">
        <a href="{{ project.github }}" target="_blank" class="btn btn-black">
          Github
        </a>
      </div>
    </div>
  </div>
</div>
