@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/modules/typo/_typography';

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 110px 0;

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
        }
    }

    .project {
        display: flex;
        gap: 100px;
        padding: 100px 0;

        .img-container {
            height: 300px;
            width: 450px;

            .img-wrapper {
                height: 100%;
                width: 100%;
                position: relative;

                &:hover {
                    &:after {
                        content:  '';
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        height: inherit;
                        width: inherit;
                        border: 4px solid black;
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .text-container {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

            h2 {
                font-family: $secondary_font;
                font-weight: $fw-black;
                font-size: $fs-headline2;
            }

            .techs {
                color: $secondary_clr;
                font-size: $fs-regular;
            }

            .descripition {
                font-size: $fs-sm;
            }
            .btn-container {
                display: flex;
                gap: 20px;
            }
        }
    }
}