@import "src/modules/utilities/_button";
@import "src/modules/utilities/_vars";
@import "src/assets/fonts/_typography";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 110px 0;
  overflow: hidden;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        text-align: center;
      }
    }
  }

  .project {
    display: flex;
    gap: 5vw;
    margin: 100px 0;
    position: relative;

    .number {
      position: absolute;
      top: -2.5vh;
      font-family: $secondary_font;
      font-weight: $fw-black;
      font-size: $fs-headline2;
    }

    .anchor {
      height: 100%;
      width: fit-content;
      display: flex;
      justify-content: flex-end;
    }

    .img-wrapper {
      $imgWidth: 490px;
      height: 100%;
      width: fit-content;
      position: relative;
      z-index: 2;

      .project-img {
        width: $imgWidth;

        aspect-ratio: 4 / 3;
        object-fit: cover;
        box-shadow: $boxshadow;
      }

      .frameWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: $imgWidth;
        aspect-ratio: 4 / 3;

        .frame {
          position: absolute;
          top: 10px;
          height: 100%;
          width: 100%;
          border: $frame;
        }

        .circle-black {
          $size: 70px;
          .circle-img {
            height: $size;
            width: $size;
            position: absolute;
            top: calc(50% + 10px - ($size/2));
            z-index: 1;
          }
        }
      }
    }

    .text-container {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding-bottom: 5vh;
      gap: 15px;
      z-index: 1;

      h2 {
        font-family: $secondary_font;
        font-weight: $fw-black;
        font-size: $fs-headline2;
      }

      span {
        text-align: justify;
      }

      .techs {
        color: $secondary_clr;
        font-size: $fs-md;
      }

      .descripition {
        font-size: $fs-sm;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .project {
    .img-wrapper {
      $imgWidth: 400px !important;

      .project-img {
        width: $imgWidth;
      }

      .frameWrapper {
        width: $imgWidth;

        .circle-black {
          $size: 50px;
          .circle-img {
            height: $size !important;
            width: $size !important;
            top: calc(50% + 10px - ($size/2)) !important;
          }
        }
      }
    }

    .text-container {
      h2 {
        font-size: $fs-headline3 !important;
      }

      .techs {
        font-size: $fs-sm !important;
      }

      .descripition {
        font-size: $fs-xs !important;
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .project:nth-child(2n + 1) {
    align-self: flex-end;
  }
  .project {
    flex-direction: column !important;
    width: calc(100% - 35px);

    .number {
      top: unset !important;
      bottom: 0;
    }

    .img-wrapper {
      $imgWidth: 100% !important;

      .project-img {
        width: $imgWidth;
      }

      .frameWrapper {
        width: $imgWidth;
      }
    }

    .text-container {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 480px) {
  .number {
    font-size: $fs-headline1 !important;
  }
}
