@import 'src/modules/utilities/_button';
@import 'src/modules/utilities/_vars';
@import 'src/modules/typo/_typography';

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 110px 0;

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .project {
        display: flex;        
        gap: 5vw;
        margin: 100px 0;
        position: relative;

        .number {
            position: absolute;
            top: 0;
            font-family: $secondary_font;
            font-weight: $fw-black;
            font-size: $fs-headline2;
            color: $subtle_grey;
        }

        .anchor {
            $imgHeight: 400px;
            $imgWidth: 600px;
            height: 100%;
            width: fit-content;
            display: flex;
            justify-content: flex-end;

            .img-wrapper {
                height: 100%;
                width: fit-content;
                position: relative;
                z-index: 2;
                
                    img {
                    height: $imgHeight;
                    aspect-ratio: 4 / 3;
                    object-fit: cover;
                    }

                .frameWrapper {
                    position: absolute;
                    top: 0;
                    height: $imgHeight;
                    aspect-ratio: 4 / 3;

                    .frame {
                        position: absolute;
                        top: 10px;
                        height: 100%;
                        width: 100%;
                        border: $frame;
                    }

                    .circle-black {
                        $size: 70px;
                        img {
                            height: $size;
                            width: $size;
                            position: absolute;
                            top: calc(50% + 10px - ($size/2));
                            z-index: 1;
                        }
                    }
                }

            }
        }

        .text-container {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding-bottom: 5vh;
            gap: 15px;
            z-index: 1;

            h2 {
                font-family: $secondary_font;
                font-weight: $fw-black;
                font-size: $fs-headline2;
            }

            span {
                text-align: justify;
            }

            .techs {
                color: $secondary_clr;
                font-size: $fs-md;
            }

            .descripition {
                font-size: $fs-sm;
                text-align: justify;
            }
            
        }
    }
}