<div class="container">
  <div class="header">
    <div class="header-wrapper">
      <h1>Portfolio</h1>
      <span
        >This page is a sample of my work - please feel free to try out.</span
      >
    </div>
  </div>
  <div class="project">
    <div class="img-container">
      <div class="img-wrapper">
        <img src="./../../assets/img/photo.jpg" alt="project" />
      </div>
    </div>
    <div class="text-container">
      <h2>Join</h2>
      <span class="techs">Angular | TypeScript | HTML | CSS | Firebase</span>
      <span class="descripition">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione eius
        fugiat cupiditate odio nam vero esse omnis, debitis.
      </span>
      <div class="btn-container">
        <button class="btn btn-black">Try out</button>
        <button class="btn btn-white">Github</button>
      </div>
    </div>
  </div>
</div>
