:host {
    display: flex;
    align-items: center;
    gap: 5vw;

    .socialIcon {
        &:hover {
            filter: invert(57%) sepia(60%) saturate(998%) hue-rotate(358deg) brightness(100%) contrast(109%);
            transform: scale(1.1);
            transition: all 225ms ease-in-out alternate;
        }
    }
}

@media (max-width: 630px) { 
    :host {
        gap: 7vw !important;
    }
}