@import 'src/modules/typo/_typography.scss';
@import 'src/modules/utilities/_vars.scss';

.navigation {
    $top: 110px;
    position: fixed;
    inset: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    background-color: $background_clr;
    
    
    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 20%);
        padding: $padding-side;
        
        
        .sections {
            $line-height: 3px;
            $line-length: 40px;
            position: relative;
            font-size: $fs-headline1;
            font-weight: $fw-black;
            font-family: $secondary_font; 
            padding: 20px 30px;
            width: clamp(220px, 100%, 1000px);
            text-align: center;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $primary_clr;
            }
            
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: $line-length;
                width: $line-height;
                background-color: $primary_clr;
                transition: height $onHover $delay;   
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: $line-height;
                width: $line-length;
                background-color: $primary_clr;
                animation: underline-reverse $onHover ease-out forwards;
            }

            &:focus {
                border: 3px solid $primary_clr !important;
            }

            &:hover {
                &:before {
                    height: 0;
                }

                &:after {
                    animation: underline $onHover $delay ease-in forwards;
                }

                @keyframes underline {
                    0% {
                        width: $line-length;
                    }
                    50%{
                        width: 100%;
                    }
                    100% {
                        width: 225px;
                        right: 0;
                        left: unset;
                    }
                }
                @keyframes underline-reverse {
                    100% {
                        width: $line-length;
                    }
                    50%{
                        width: 100%;
                    }
                    0% {
                        width: 225px;
                        right: 0;
                        left: unset;
                    }
                }
            }
        }
    }


    .footer-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-end;
        
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $primary_clr;
            clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
            z-index: 2;
        }   
        
        .content{
            position: relative;
            z-index: 3;
            width: 100%;
            padding: $padding-side; 
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: $background_clr;

            .left-side,.right-side {  
                display: flex;              
                padding-bottom: 50px;
            }
            
            .left-side {
                flex-direction: column;
                 h1, span {
                    cursor: pointer;
                 }              
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .sections {
        font-size: $fs-headline3 !important;
    }
    .content {
        flex-direction: column;
        align-items: flex-start !important; 

        .left-side,.right-side {                
            padding-bottom: 25px !important;
        }

        .right-side {
            align-self: flex-end;
        }

    }
}

@media (max-width: 320px) and (min-width: 50px) {
    .sections {
        font-size: $fs-headline4 !important;
    }
}