<div class="navigation">
  <div [@openClose] class="section-container">
    <div class="sections">
      <div (click)="moveTo('aboutMe')">
        {{ "ABOUT_ME_TITLE" | translate }}
      </div>
    </div>
    <div class="sections">
      <div (click)="moveTo('mySkills')">{{ "SKILLS_TITLE" | translate }}</div>
    </div>
    <div class="sections">
      <div (click)="moveTo('portfolio')">
        {{ "PORTFOLIO_TITLE" | translate }}
      </div>
    </div>
  </div>

  <div class="footer-nav" [@openCloseFooter]>
    <div class="content">
      <div class="left-side">
        <h1 (click)="moveTo('contact')" class="white">
          {{ "CONTACT_TITLE" | translate }}
        </h1>
        <span (click)="moveTo('contact')">{{
          "EMAIL_ADRESSE" | translate
        }}</span>
      </div>
      <div class="right-side">
        <app-socials></app-socials>
      </div>
    </div>
  </div>
</div>
