@import 'modules/utilities/_vars';
@import 'modules/typo/_typography';
/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary_font , sans-serif;
    font-size: $fs-regular;
    background-color: $background_clr;
}

h1 {
    font-family: $secondary_font;
    font-weight: $fw-black;
    font-size: $fs-headline1;
    color: $secondary_clr;
    margin-bottom: 7vh;
    width: fit-content;
    cursor: default;
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:before {
        transition: height 0.5s ease;
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        height: 100px;
        color: $primary_clr;
        left: 0;
        top: 0; 
    }

    &:hover {
        &:before {
            height: 0;
        }        
    }
}

.white {
    &:before {        
        color: $white;         
    }   
}

