@import 'modules/utilities/_vars';
@import 'modules/typo/_typography';
/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

body {
    font-family: $primary_font , sans-serif;
    font-size: $fs-regular;
    background-color: $background_clr;
}

.d-none {
    display: none !important;
}

h1 {
    font-family: $secondary_font;
    font-weight: $fw-black;
    font-size: $fs-headline1;
    color: $primary_clr; 
    width: fit-content;
    margin-bottom: 5vh;
    cursor: default;
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:hover  {
        color: $secondary_clr;
        transition: color 225ms ease-in-out;
    }
}

.white {      
    color: $white;         
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;

    &:hover {
        filter: invert(57%) sepia(60%) saturate(998%) hue-rotate(358deg) brightness(100%) contrast(109%);
        transform: scale(1.1);
        transition: all 150ms ease-in-out;
    }
}
