@import "modules/utilities/_vars";
@import "assets/fonts/typography";
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  font-family: $primary_font, sans-serif;
  font-size: $fs-regular;
  background-color: $background_clr;
}

@media (max-width: 630px) {
  body {
    font-size: $fs-sm !important;
  }
}

.d-none {
  display: none !important;
}

h1 {
  font-family: $secondary_font;
  font-weight: $fw-black;
  font-size: $fs-headline1;
  color: $primary_clr;
  width: fit-content;
  margin-bottom: 5vh;
  cursor: default;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-shadow: 0 0 $primary_clr;
  transition: all 500ms ease-in-out;
  position: relative;

  &:hover::after {
    width: 110%;
    transform: scale(0.9) skew(2deg, 2deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.5em;
    height: 0.6em;
    width: 2.75em;
    background-color: $secondary_clr;
    transition: all 500ms ease-in-out;
    z-index: -1;
  }
}

.white {
  color: $background_clr;
}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    filter: invert(57%) sepia(60%) saturate(998%) hue-rotate(358deg)
      brightness(100%) contrast(109%);
    transform: scale(1.1);
  }

  @media (max-width: 450px) {
    height: 35px;
  }
}
