@import 'src/modules/utilities/_vars';
@import 'src/modules/typo/_typography';

.btn {
    $btn-width: clamp(100px, 15vw, 200px);
    height: 75px;
    width: $btn-width;
    font-size: $fs-regular;
    font-weight: $fw-regular;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;

    & > * {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        font-weight: 600;
        width: calc($btn-width * 1.15);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btn-black {
    border: $frame;
    background-color: $background_clr;
    color: $primary_clr;
    
    &:focus,
    &:hover {
        background-color: $primary_clr;
        color: $background_clr;
    }
}

.btn-white {
    border: 4px solid $background_clr;
    background-color: $primary_clr;
    color: $background_clr;
    
    &:focus,
    &:hover {
        background-color: $background_clr;
        color: $primary_clr;
    }
}
