@import "src/modules/utilities/_vars";
@import "src/assets/fonts/_typography";

.btn {
  height: 75px;
  width: fit-content;
  font-size: $fs-regular;
  font-weight: $fw-regular;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: clamp(8px, 2vw, 12px) clamp(12px, 13vw, 25px);
  border-radius: $br;
  transition: all 0.4s ease-in-out;

  & > * {
    text-decoration: none;
    color: inherit;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-black {
  border: $frame;
  background-color: $background_clr;
  color: $primary_clr;

  &:focus,
  &:hover {
    background-color: $primary_clr;
    color: $background_clr;
  }
}

.btn-white {
  border: 4px solid $background_clr;
  background-color: $primary_clr;
  color: $background_clr;

  &:focus,
  &:hover {
    background-color: $background_clr;
    color: $primary_clr;
  }
}
