@import 'src/modules/utilities/_vars';
@import 'src/assets/fonts/_typography';

.btn {
    height: 75px;
    width: fit-content;
    font-size: $fs-regular;
    font-weight: $fw-regular;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    padding: clamp(8px, 2vw, 12px) clamp(12px, 13vw, 25px);

    & > * {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        font-weight: 600;
        padding: clamp(8px, 2vw, 12px) calc(clamp(12px, 13vw, 25px) * 1.3);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }   
}

.btn-black {
    border: $frame;
    background-color: $background_clr;
    color: $primary_clr;
    
    &:focus,
    &:hover {
        background-color: $primary_clr;
        color: $background_clr;
    }
}

.btn-white {
    border: 4px solid $background_clr;
    background-color: $primary_clr;
    color: $background_clr;
    
    &:focus,
    &:hover {
        background-color: $background_clr;
        color: $primary_clr;
    }
}
